# Типы данных

* **integer(int)** - целые числа
* **float (float)** - числа с плавающей точкой
* **string (str)** - строка/текст
* **boolean (bool)** - булевый/логический тип

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
my_string = 'Hello, world!'
type(my_string)

str

In [4]:
my_bool = True
# my_bool = False
type(my_bool)

bool

### Преобразование типов

Ставя перед значением нужный тип данных, мы его преобразуем:

In [5]:
salary = 1000

print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [6]:
int('1000') + 100

1100

In [7]:
print (1 + False)

print (1 + True)

1
2

# Строки (string)

1. Конкатенация - **"+"**
1. Умножение строки на число позволяет её повторить нужное кол-во раз
1. **.upper()** - перевод строки к верхнему регистру
1. **.lower()** - перевод строки в нижний регистр
1. **.capitalize()** - перевод первой буквы строки к верхнему регистру
1. **.replace('заменить что-то','на что-то')**
1. **len(my_string)** - определяет длину строки (кол-во символов)

In [8]:
1 + 2

3

In [9]:
'1' + '2'

'12'

In [10]:
my_string = 'Hello, World!'

In [11]:
my_string.upper()

'HELLO, WORLD!'

In [12]:
my_string.lower()

'hello, world!'

In [13]:
my_string.capitalize()

'Hello, world!'

In [69]:
my_string.replace('Hello','Goodbye')

'Goodbye, World!'

In [15]:
len(my_string)

13

# Срезы

При помощи [ ] можно вернуть определенный элемент строки.

Слева направа идет 0 1 2 3 4

Справа налево идет -1 -2 -3 -4 -5

In [16]:
my_string[-1]

'!'

In [17]:
my_string[0:4]

'Hell'

In [18]:
my_string[0:4:2]
# 0 это граница левого элемента
# 4 это граница правого элемента (он входить не будет)
# 2 это интервал выбираемых элементов

'Hl'

In [19]:
my_string[:5] # Берет все элементы строки до 5й

'Hello'

In [20]:
my_string[7:] # Берет все элементы строки, начиная с 7

'World!'

### Операторы вхождения

IN - True, если элемент есть

NIT IN - True, если элемента нет

In [21]:
target_string = '!'

if target_string in my_string:
    print('yay!')

yay!

### Добавляя префикс f к строке, можно встраивать в неё произвольные выражения при помощи { }

In [22]:
name = 'temishe'
lang = 'Python'

t = f"Hello, {name.capitalize()}, I know {lang} a bit"

print (t)
print(type(t))

Hello, Temishe, I know Python a bit
<class 'str'>

# Списки

Инициируются списки с помощью [ , , ]

In [23]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Ayg', 'Sep']

income_list = [13000, 14000, 14300, 15000, 13800, 13000 , 14900, 15200, 15300]

income_by_month = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Ayg', 15200], ['Sep', 15300]]

In [24]:
print(type(month_list))
print(type(income_list))
print(type(income_by_month))

<class 'list'>
<class 'list'>
<class 'list'>

In [25]:
# индексация элементов в списке

print(month_list[0])
print(income_list[-1])
print(income_by_month[-4])
print(income_by_month[-4][1])

Jan
15300
['Jun', 13000]
13000

In [26]:
# срезы

print(income_by_month[0:2])
print('--------------')
print(income_by_month[-8:-6])
print('--------------')
print(income_by_month[2:])
print('--------------')
print(income_by_month[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Ayg', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [27]:
# можно обращаться к любому уровню вложенности в строке:

income_by_month = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Ayg', 15200], ['Sep', 15300]]
income_by_month [0][0]

'Jan'

In [28]:
# изменение списков

income_by_month [0][1]

13000

In [29]:
income_by_month [0][1] = 13100
print(income_by_month)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Ayg', 15200], ['Sep', 15300]]

In [30]:
income_by_month[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Ayg', 15200], ['Sep', 15300]]

In [31]:
income_by_month_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_month + income_by_month_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Ayg', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

# Распаковка списков

**del(list[index])** - удаляет элемент из списка

**.remove(el)** - удаляет указанный элемент из списка

**.append(el)** - добавить элемент в список

**.count(el)** - количество вхождений элемента в список

**.index(el)** - узнать индекс элемента в списке

**reverse(list)** - разворачивает список

**sorted(list)** - сортирует список

In [32]:
first, second, third = ['первый', 'второй', 'третий']
first

'первый'

In [33]:
# когда число элементов неизвестно

first, *_ = ['первый', 'второй', 'третий']
first

'первый'

In [34]:
first, *other, last = ['первый', 'второй', 'третий', 'четвертый']

In [35]:
other

['второй', 'третий']

In [36]:
first, last

('первый', 'четвертый')

## Операции со списками

In [37]:
income_by_month

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Ayg', 15200],
 ['Sep', 15300],
 ['Nov', 15400],
 ['Dec', 17000]]

In [38]:
# Удаляем элемент по индексу
del(income_by_month [-1])
income_by_month

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Ayg', 15200],
 ['Sep', 15300],
 ['Nov', 15400]]

In [39]:
month_list

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Ayg', 'Sep']

In [40]:
# Удаляем элемент

month_list.remove('Mar')
month_list

['Jan', 'Feb', 'Apr', 'May', 'Jun', 'Jul', 'Ayg', 'Sep']

In [41]:
# Добавляем элемент в конец списка

income_by_month.append(['Dec', 17000])
income_by_month

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Ayg', 15200],
 ['Sep', 15300],
 ['Nov', 15400],
 ['Dec', 17000]]

In [42]:
income_list

[13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [43]:
# Добавляем элемент по нужному индексу

income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [44]:
# Считаем количество вхождений элемента в список

income_list.count(13000)

2

In [45]:
# Узнаем индекс элемента из списка

income_list.index(13000, 1) # Указываем, какой по счету элемент, если есть одинаковые

6

In [46]:
month_list.reverse()
month_list

['Sep', 'Ayg', 'Jul', 'Jun', 'May', 'Apr', 'Feb', 'Jan']

In [47]:
# Узнаем длину списка

len(income_list)

10

In [48]:
# Сумма элементов

sum(income_list)

1239611

In [49]:
# Максимальный элемент списка

max(income_list)

1111111

In [50]:
# Минимальный элемент списка

min(income_list)

13000

In [51]:
# Сотртировка по возрастанию

sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [52]:
# Изменить порядок сортировки

sorted(income_list, reverse = True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [53]:
# В случае со словами, сортирует по алфавиту

sorted(month_list)

['Apr', 'Ayg', 'Feb', 'Jan', 'Jul', 'Jun', 'May', 'Sep']

# Изменение списков

Ниже переменные a и b указывают на одно и то же. В результате, при добавлении в b очередного элемента, этот элемент добавляется и в исходный лист а.

In [54]:
a = [1, 2, 3]

b = a

In [73]:
b.append(4)
f'a = {a}'

'a = [1, 2, 3]'

In [56]:
id(a), id(b)

(140579871070272, 140579871070272)

Чтобы такого не случалось, используем модуль **copy**:

In [57]:
import copy

In [58]:
a = [1, 2, 3]

b = copy.copy(a)

In [74]:
id(a), id(b)

(140579871233408, 140579871232256)

In [60]:
b.append(4)
print(f'a = {a}')

print(f'b = {b}')

a = [1, 2, 3]
b = [1, 2, 3, 4]

# Списки и строки

**.split('чем делим')** - преобразование строки в список

In [61]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [89]:
# преобразование строки в список (например, из CSV-файла)

queries_list = queries_string.split(',')
queries_list

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [90]:
queries_list

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [91]:
len(queries_list[0].split(' '))

3

In [64]:
# Преобразование списка в строку

print('\t'.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])) # \t - знак табуляции

print(', '.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))

print('-==-'.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))

Столбец 1	Столбец 2	Столбец 3
Столбец 1, Столбец 2, Столбец 3
Столбец 1-==-Столбец 2-==-Столбец 3

In [65]:
# Проверка вхождения элемента в список:

'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
# 'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

True

# Tuple (кортежи)

это неизменяемые списки

* Инициируются они с помощью ( ).

* Занимают меньше места

* zip(list_1, list_2, ...) - делает zip файл, состоящий из кортежей

In [66]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)

tuple

In [67]:
# Можно вернуть кортеж обратно в список с помощью list:

list(salary_tuple)

[1000, 1200, 1300, 900, 800]

In [68]:
# Как говорилось ранее, кортеж менять нельзя:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [ ]:
# кортеж из одного элемента задается так:

t = ('one', )

In [ ]:
type(t)

In [ ]:
# без запятой получится строка!

type( ('one') )

In [ ]:
# функция zip

salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']

salaries_by_names = zip(names, salaries)
print(salaries_by_names)

In [ ]:
# Получаем список кортежей!

list(salaries_by_names)

# Циклы

Ключевые слова циклов: **break, continue и pass** (игнорирует условие и продолжает цикл)

## Цикл while

Повторяет одну и ту же последовательность, пока условие истинно.


while x < 5:

    print(x)
    
    x = x + 1

In [81]:
x = 5
while x != 0:
    x -= 1 # Эквивалентно x = x - 1
    print(x)
    # break - если его оставить, то цикл завершится на 1 шаге
    
print('Я прекратил работу')

4
3
2
1
0
Я прекратил работу

In [76]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

## Цикл for

Цикл for проходится по элементам любого интегрируемого объекта и во время каждого прохода выполняет заданную последовательность действий

for (имя, которое присваиваем) in (имя объекта)

    (имя, которое присваиваем) = (имя, которое присваиваем)**2
    
    print(имя, которое присваиваем)

In [77]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    print(letter)
#     letter = letter.capitalize()
#     print(letter)
# print(letter)

O
r
a
n
g
e

In [82]:
# итерация по спискам
companies_capitalization = [
    ['Orange', 1.3],
    ['Maxisoft', 1.5],
    ['Headbook', 0.8],
    ['Nicola', 2.2]
]

In [84]:
for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])
#     print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

## break, pass, continue

In [85]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [86]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [87]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
К
б
д
о
л
ж
н
о
х
в
а
т
и
т
ь
д
л
я
л
ю
б
ы
х
з
а
д
а
ч
.
Б
и
л
л
Г
е
й
т
с
(
п
о
л
е
г
е
н
д
е
)
finish loop

In [88]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
4
0
К
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч
.

Б
и
л
л

Г
е
й
т
с

(
п
о

л
е
г
е
н
д
е
)
finish loop