## Задание 1

In [1]:
word = 'задание'

if len(word) % 2 == 0:
    print('Результат:')
    print(word[(len(word)//2)-1: ((len(word)//2)+1)])
else:
    print('Результат:')
    print(word[len(word)//2])

Результат:
а

## Задание 2

In [2]:
number = int(input('Введите число:'))
summ = [0]
while number != 0:
    summ.append(number)
    number = int(input('Введите число:'))
print('Результат:')
print(sum(summ))

Введите число:1
Введите число:2
Введите число:0
Результат:
3

## Задание 3
Переместил сортировку в цикл

In [3]:
boys = ['Peter','Alex','John','Arthur','Richard']
girls = ['Kate','Lisa','Natasha','Emma','Trisha']

if len(boys) == len(girls):
    print('Результат: ')
    print('Идеальные пары: ') 
    boys_s = sorted(boys)
    girls_s = sorted(girls)
    num_g = 0
    for result in boys_s:
        print(result, 'и', girls_s[num_g])
        num_g = num_g + 1

else:
    print('Результат: ')
    print('Внимание, кто-то может остаться без пары!')

Результат:
Идеальные пары:
Alex и Emma
Arthur и Kate
John и Lisa
Peter и Natasha
Richard и Trisha

## Задание 4

Переписал

In [5]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print('Результат:')
print(' ')
print('Средняя температура в странах:')
tempr = []
for contr, temp in countries_temperature:
    for temp_1 in temp:
        temp_1 = (temp_1 - 32) * (5/9)
        tempr.append(temp_1)  
    temp_final = (sum(tempr))/len(tempr)
    print(f"{contr} - {float('{:.1f}'.format(temp_final))} C")

Результат:

Средняя температура в странах:
Thailand - 23.9 C
Germany - 19.7 C
Russia - 13.8 C
Poland - 13.4 C

## Задание 5 

Переписал

In [12]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

views = 0
user_list = []

for s in stream:
    splitted_s = s.split(',')
    views += int(splitted_s[2])
    if splitted_s[1] not in user_list:
        user_list.append(splitted_s[1])

print('Результат:')
print(f'Среднее количество просмотров на уникального пользователя: {views / len(user_list)}')

Результат:
Среднее количество просмотров на уникального пользователя: 23.25

## Задание 6
Переписал

In [7]:
numbers = input('Введите набор чисел через пробел:')

numbers = numbers.split()

numbers_repeat = []

for i in numbers:
    if i not in numbers_repeat and numbers.count(i) > 1:
        numbers_repeat.append(i)
        
print (numbers_repeat)

Введите набор чисел через пробел: 1 1 12 12

['1', '12']